// Kolory

$prime-color: #0091ea;
$heading-color: #263238;
$link-color: #212121;
$text-color: #37474f;
$icon-about-color: $prime-color; //lighten($heading-color, 10%);
$border-color: darken(rgb(245, 245, 245), 5%);
